<!doctype html>
<html lang="<%= config.language || 'en' %>">
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8637197148903783",
    enable_page_level_ads: true
    });
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        showProcessingMessages: false,
        messageStyle: 'none',
        tex2jax: { inlineMath: [['$','$']], displayMath: [['$$','$$']]}
    })
</script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<meta charset="utf-8">
<title><%= title %></title>
<base href="<%= config.root %>">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<link rel="canonical" href="<%=url_trim(url)%>">
<link rel="icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>">
<% if (theme.pwa.manifest) { -%>
<link rel="manifest" href="<%= url_for('manifest.json') %>">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<% } -%>
<%- open_graph({ image: page.thumbnail || theme.profile.avatar }) %>
<% if (config.feed && config.feed.path) { -%>
<link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>">
<% } -%>
<%- theme_static('css') %>
<% if (theme.runtime.themeHash) { %><%- css('theme.' + theme.runtime.themeHash) %><% } %>
<%- js('config.' + theme.runtime.configHash) %>
<% if (theme.seo.structured_data) { %><%- structured_data(page) %><% } -%>
<% if (theme.ga) { %><%- ga(theme.ga) %><% } -%>
</head>
<body>
       
<is-d2a57d>
</is-d2a57d>
<%- theme_static('js') -%>
</body>
</html>
